build_info.json

^bin/dep/all
bin/*
.cproject
.project
.pydevproject
.settings/*
.vscode/*
*.o
*.o.d
*~
tools/make/config.mk
cflie.*
version.c
tags

./cf2.*
/tag.*
*.gch


current_platform.mk

/generated-test/**
**/__pycache__/**

/docs/.jekyll-metadata
docs/.jekyll-cache

cf2.bin
cf2.dfu
cf2.elf
cf2.hex
cf2.map
